@model ASPIRE.Models.Domain.MasterSetup.Division

@{
    ViewData["Title"] = "Details";
    ViewBag.pageTitle = "Provience";
    ViewBag.Title = "Division";
    ViewBag.pTitle = "Division";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}


@if (true)
{
    <div class="checkout-tabs">
        <div class="row">            
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-privacy" role="tabpanel" aria-labelledby="v-pills-privacy-tab">
                                <div class="alert alert-info" style="padding: .40rem 1.25rem" role="alert">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h4 class="mt-2 card-title">Division Detail</h4>
                                        </div>
                                        @*<div class="col-sm-6">
                    <div class="text-sm-right">
                        <a asp-action="Index" type="button" class="btn btn-primary btn-rounded waves-effect waves-light mr-2">Back to List</a>
                    </div>
                </div>*@<!-- end col-->
                                    </div>
                                </div>
                                <dl class="row">
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Name)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Name)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Code)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Code)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Description)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Description)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Provience)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Provience.Name)
                                    </dd>
                                </dl>
                                <div class="form-group">
                                    <a asp-action="Index" asp-controller="Divisions">Back to list</a>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="account-pages my-5 pt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">
                        <h1 class="display-2 font-weight-medium">4<i class="bx bx-buoy bx-spin text-primary display-3"></i>4</h1>
                        <h4 class="text-uppercase">Sorry, page not found</h4>
                        @*<div class="mt-5 text-center">
                                <a class="btn btn-primary waves-effect waves-light" href=@Url.Action("Index", "index")>Back to Dashboard</a>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 col-xl-6">
                    <div>
                        <img src="~/assets/images/error-img.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
}
