@model ASPIRE.Models.Domain.MasterSetup.School

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>School</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BEMISCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BEMISCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shift)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shift)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFunctional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFunctional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PakkaRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PakkaRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KachaRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KachaRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.District)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tehsil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tehsil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubTehsil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubTehsil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WardName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WardName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WardNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WardNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VillageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VillageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClusterBemisCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClusterBemisCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClusterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClusterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClusterDDOCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClusterDDOCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolContactNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolContactNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClusterFeedingSchoolsPrimary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClusterFeedingSchoolsPrimary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClusterFeedingSchoolsMiddle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClusterFeedingSchoolsMiddle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearofNonFunctinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearofNonFunctinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReasonOfNonFunctional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReasonOfNonFunctional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDisableStudentsInSchool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDisableStudentsInSchool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRampforStudentsOrTeachers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRampforStudentsOrTeachers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBuilding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBuilding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolOwnedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolOwnedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildingStructure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildingStructure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildingCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildingCondition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSpaceForNewRooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSpaceForNewRooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfRoomsWithWindowsAndVantilation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfRoomsWithWindowsAndVantilation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsProperSeverageSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsProperSeverageSystem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsWaterFacilityInToilets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsWaterFacilityInToilets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBoundaryWall)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBoundaryWall)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoundaryWallStructure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoundaryWallStructure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoundaryWallCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoundaryWallCondition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPlayGround)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPlayGround)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsElectricityInArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsElectricityInArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsElectricity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsElectricity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElectricitySource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElectricitySource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistanceOfNearestPoll)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistanceOfNearestPoll)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsGasInArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsGasInArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsGasInSchool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsGasInSchool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsGovtDrinkingWaterScheme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsGovtDrinkingWaterScheme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDrinkingWaterAtSchool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDrinkingWaterAtSchool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceOfWater)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceOfWater)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsWaterTank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsWaterTank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistanceOfNearestWaterSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistanceOfNearestWaterSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTelephoneAvailabe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTelephoneAvailabe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFunctionStatusTelephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFunctionStatusTelephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosedReasonTelephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosedReasonTelephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsInternetAvailabe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsInternetAvailabe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFunctionStatusInternet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFunctionStatusInternet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosedReasonInternet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosedReasonInternet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsScienceLab)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsScienceLab)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFunctionStatusScienceLab)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFunctionStatusScienceLab)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsComputerLab)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsComputerLab)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsLibraryAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsLibraryAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CleaningResponsibility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CleaningResponsibility)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsWashbasinAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsWashbasinAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsWaterforWashBasin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsWaterforWashBasin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSoapForWashBasin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSoapForWashBasin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CleaningCycleOfWashBasin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CleaningCycleOfWashBasin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTeacherUsesTeachingMeterialOnHealth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTeacherUsesTeachingMeterialOnHealth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MajorDiseaseCauseForAbsentism)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MajorDiseaseCauseForAbsentism)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFirstaidKit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFirstaidKit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTrainingOnFirstAidKit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTrainingOnFirstAidKit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsInspectionOfCleaning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsInspectionOfCleaning)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSeprateRoomForECE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSeprateRoomForECE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFullTimeTeacherForECE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFullTimeTeacherForECE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTrendExtraCracularActivity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTrendExtraCracularActivity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activity1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activity1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAudioAndVideoEquipment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAudioAndVideoEquipment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTeacherUsesAudioAndVideoEquipment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTeacherUsesAudioAndVideoEquipment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTrainingOnMHMKits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTrainingOnMHMKits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMHMKitsAtSchool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMHMKitsAtSchool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPTSMC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPTSMC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPTSMCParticipatedInAnyActivityCurrentYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPTSMCParticipatedInAnyActivityCurrentYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMeetingRecordesAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMeetingRecordesAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsChildOfPTSMCMembersAreEnrolled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsChildOfPTSMCMembersAreEnrolled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAnySDPFormPTSMCLast3Years)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAnySDPFormPTSMCLast3Years)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsExaminationHall)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsExaminationHall)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfVisitByEducationalManager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfVisitByEducationalManager)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KachiBoys)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KachiBoys)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KachiGirls)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KachiGirls)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PakiBoys)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PakiBoys)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PakiGirls)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PakiGirls)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TwoBoys)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TwoBoys)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TwoGirls)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TwoGirls)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThreeBoys)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThreeBoys)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThreeGirls)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThreeGirls)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FourBoys)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FourBoys)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FourGirls)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FourGirls)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiveBoys)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiveBoys)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiveGirls)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiveGirls)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SixBoys)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SixBoys)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SixGirls)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SixGirls)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SevenBoys)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SevenBoys)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SevenGilrs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SevenGilrs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EightBoys)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EightBoys)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EightGilrs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EightGilrs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NineBoys)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NineBoys)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NineGirls)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NineGirls)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenBoys)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenBoys)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenGirls)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenGirls)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElevenBoys)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElevenBoys)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElevenGirls)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElevenGirls)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TwelveBoys)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TwelveBoys)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TwelveGilrs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TwelveGilrs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSchoolProfileStudent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSchoolProfileStudent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalStudentProfileEntered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalStudentProfileEntered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPersonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPersonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSolarization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSolarization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsITLab)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsITLab)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChildrenReceivingDistanceLearningKits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChildrenReceivingDistanceLearningKits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsInternetConnectivity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsInternetConnectivity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsScienceLabEquipment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsScienceLabEquipment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHygieneKit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHygieneKit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsLearningKit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsLearningKit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMHMKit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMHMKit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SencTeaching)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SencTeaching)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppTeaching)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppTeaching)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeachingMale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeachingMale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeachingFemale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeachingFemale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalTeachingStaff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalTeachingStaff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SencNonTeaching)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SencNonTeaching)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppNonTeaching)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppNonTeaching)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NonteachingMale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NonteachingMale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NonteachingFemale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NonteachingFemale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalNonTeachingStaff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalNonTeachingStaff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VchCreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VchCreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtmCreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtmCreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KachaHMR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KachaHMR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PakkaHMR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PakkaHMR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KachaClerkOffice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KachaClerkOffice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PakkaClerkOffice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PakkaClerkOffice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KachaHall)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KachaHall)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PakkaHall)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PakkaHall)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KachaStaffRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KachaStaffRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PakkaStaffRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PakkaStaffRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KachaGuardRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KachaGuardRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PakkaGuardRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PakkaGuardRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KachaToilet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KachaToilet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KachaSportsRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KachaSportsRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PakkaToilet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PakkaToilet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PakkaSportsRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PakkaSportsRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KachaResourceCenter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KachaResourceCenter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PakkaResourceCenter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PakkaResourceCenter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnionCouncil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnionCouncil.UnionCouncilId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SchoolId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
