
@model IEnumerable<ASPIRE.Models.Domain.Schools.IndicatorEvidence>

@{
    var FileTypeId = ViewBag.FileTypeId;
            }
<!-- DataTables -->
<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/datatables.net-autoFill-bs4/css/autoFill.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="~/assets/libs/toastr/build/toastr.min.css">
<div class="checkout-tabs">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-gen-ques" role="tabpanel" aria-labelledby="v-pills-gen-ques-tab">
                            <div class="alert alert-info" style="padding: .40rem 1.25rem" role="alert">
                                <h4 class="mt-2 card-title">List of GRN types to Upload Evidence</h4>
                            </div>
                            <div class="table-responsive">
                                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Indicator)
                                            </th>
                                            <th>@(FileTypeId == 1 ? "Attachment" : (FileTypeId == 2 ? "Pictures" : "Video Link"))</th>
                                            <th>
                                                Action
                                            </th>
                                            @{
                if(FileTypeId == 2 || FileTypeId == 3)
            {
                <th>View</th>
            }
            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int counter = 1; int indicatorId = 0;}
                                        @foreach (var item in Model.OrderBy(a=>a.Indicator.IndicatorId))
                                        {
                                            if (indicatorId == item.Indicator.IndicatorId)
                                                continue;
                                            else
                                                indicatorId = item.Indicator.IndicatorId;
                                        <tr>
                                            <td>
                                                <span>
                                                    @Html.DisplayFor(modelItem => item.Indicator.IndicatorName)
                                                </span>
                                            </td>

                                            <td style="max-width:230px">
                                                @{
                                                    if (item.ImageURL == "")
                                                    {
                                                        if (FileTypeId == 1 || FileTypeId == 2)
                                                        {
                                                            <div class="custom-file">
                                                                <input type="file" class="custom-file-input" id=@("attachment" + counter) name="attachment" accept="@(FileTypeId == 1 ? "application/pdf" : "image/*")">
                                                                <label style="overflow: hidden; text-overflow: ellipsis;" class="custom-file-label" for="attachment">Choose file</label>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" id=@("VideoLink" + counter)>
                                                            </div>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (FileTypeId == 1)
                                                        {
                                                            <a class="shower" style="cursor:pointer" data-toggle="modal" data-src="@item.ImageURL" data-target="@(FileTypeId == 1 ? "#attachmentModal" : "#imagesModal")">
                                                                <i class="mdi mdi-file-pdf align-middle pl-1" style="font-size:21px"></i> Uploaded Evidence
                                                            </a>
                                                        }
                                                        else if (FileTypeId == 2)
                                                        {
                                                            <div class="custom-file">
                                                                <input type="file" class="custom-file-input" id=@("attachment" + counter) name="attachment" accept="@(FileTypeId == 1 ? "application/pdf" : "image/*")">
                                                                <label style="overflow: hidden; text-overflow: ellipsis;" class="custom-file-label" for="attachment">Choose file</label>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            @* <a class="shower" style="cursor:pointer" data-toggle="modal" data-src="@item.ImageURL" data-target="#videoModal">
                            <i class="mdi mdi-file-video align-middle pl-1" style="font-size:21px"></i> Uploaded Video
                        </a>*@
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" id=@("VideoLink" + counter)>
                                                            </div>
                                                        }
                                                    }
                                                }
                                            <td>
                                                @{
                                                    if (item.IndicatorEvidenceId == 0)
                                                    {
                                                        <input type="button" onclick="Upload('@item.Indicator.IndicatorId', '@item.Indicator.IndicatorName', '@ViewBag.Id', '@counter')" value="Upload" class="btn btn-outline-success" />
                                                    }
                                                    else
                                                    {
                                                        if (FileTypeId == 1)
                                                        {
                                                            <input type="button" onclick="Delete(@item.IndicatorEvidenceId)" value="Delete" class="btn btn-outline-danger" />
                                                        }
                                                        else if (FileTypeId == 2 || FileTypeId == 3)
                                                        {
                                                            <input type="button" onclick="Upload('@item.Indicator.IndicatorId', '@item.Indicator.IndicatorName', '@ViewBag.Id', '@counter')" value="Upload" class="btn btn-outline-success" />
                                                        }
                                                    }
                                                }
                                            </td>
                                            @{
                                                if (FileTypeId == 2)
                                                {
                                                    <td>
                                                        @{
                                                            if (item.IndicatorEvidenceId == 0)
                                                            {
                                                                <span>Not Uploaded</span>
                                                            }
                                                            else
                                                            {
                                                                <a asp-action="ListOfImages" asp-controller="IndicatorEvidences" asp-route-SchoolId="@item.SchoolId" asp-route-IndicatorId="@item.Indicator.IndicatorId" asp-route-FileTypeId="@FileTypeId">
                                                                    <i class="mdi mdi-folder-multiple-image align-middle pl-1" style="font-size:21px"></i> Uploaded Images
                                                                </a>
                                                            }
                                                        }
                                                    </td>
                                                }
                                                else if (FileTypeId == 3)
                                                {
                                                    <td>
                                                        @{
                                                            if (item.IndicatorEvidenceId == 0)
                                                            {
                                                                <span>Not Uploaded</span>
                                                            }
                                                            else
                                                            {
                                                                <a asp-action="ListOfVideos" asp-controller="IndicatorEvidences" asp-route-SchoolId="@item.SchoolId" asp-route-IndicatorId="@item.Indicator.IndicatorId" asp-route-FileTypeId="@FileTypeId">
                                                                    <i class="mdi mdi-file-video align-middle pl-1" style="font-size:21px"></i> Uploaded Videos
                                                                </a>
                                                            }
                                                        }
                                                    </td>
                                                }
                                            }
                                        </tr>
                                            counter = counter + 1;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<!-- bs custom file input plugin -->
<script src="~/assets/libs/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<script src="~/assets/js/pages/form-element.init.js"></script>
<script>
    $(document).ready(function () {
        $(".shower").click(function () {
            $('#pdfFileAttachment').attr("src", $(this).attr("data-src"));
        });
    });
</script>